:root {
  --ghost-white: #f7f7ff;
  --tuscany: #c49991;
  --carolina-blue: #279af1;
  --black-coral: #60656f;
  --smoky-black: #131112;
  --lighter-black: #d1d1d1;
  --darker-white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: var(--ghost-white);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 4rem;
}

header {
  display: flex;
  padding-left: 5rem;
  align-items: center;
  gap: 2.5rem;
}

h1 {
  color: var(--smoky-black);
}

form input,
button {
  font-size: 1.75rem;
  padding: 0.5rem 1.5rem;
  border: none;
}

form input {
  color: var(--smoky-black);
  border-radius: 0.5rem 0 0 0.5rem;
}

button {
  background-color: var(--smoky-black);
  color: var(--darker-white);
  border-radius: 0 0.5rem 0.5rem 0;
}

button:hover,
article:hover {
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.colorList {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

article {
  height: 20rem;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.color-light {
  color: white;
}

.clipboard {
  margin-top: 2rem;
  color: orange;
}
